# Coverage files
coverage/
*.lcov
clover.xml

# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

games/
frontend/node_modules/
frontend/dist/
*aiCoder/llmConfig*key*
*aiCoder/backups/*
